
  <!DOCTYPE html>
  <html>
  
  <head>
    <script src= "{{ url_for('static', filename = 'js/face-api.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/faceDetectionControls.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  
  <body>
  
      <div class="progress" id="loader">
        <div class="indeterminate"></div>
      </div>
      <div style="position: relative" class="margin">
        <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted></video>
        <canvas id="overlay">
      </div>
  
  
      <select id="selectFaceDetector">
        <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
        <option value="tiny_face_detector">Tiny Face Detector</option>
        <option value="mtcnn">MTCNN</option>
      </select>
      <label>Select Face Detector</label>
  
    <script>
      let forwardTimes = []
     
      let withBoxes = true
      function updateTimeStats(timeInMs) {
        forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
        const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
        $('#time').val(`${Math.round(avgTimeInMs)} ms`)
        $('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
      }
  
      async function onPlay() {
        const videoEl = $('#inputVideo').get(0)
  
        if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
          return setTimeout(() => onPlay())
  
  
        const options = getFaceDetectorOptions()
  
        const ts = Date.now()
  
        const result = await faceapi.detectSingleFace(videoEl, options).withFaceLandmarks().withFaceExpressions()
  
        updateTimeStats(Date.now() - ts)
  
        if (result) {
          $.ajax({url:"/result",
          type:'POST',
          dataType:"json",
          contentType: 'application/json',
          success:function(data){
            $('#yaw').text("Yaw: " + data['yaw'])
            $('#pitch').text("Pitch: " + data['pitch'])
            $('#roll').text("Roll: " + data['roll'])
          },
          error: function(e) {
            console.log("error")
          },
          data:JSON.stringify(result)})
            const canvas = $('#overlay').get(0)
            const dims = faceapi.matchDimensions(canvas, videoEl, true)
    
            const resizedResult = faceapi.resizeResults(result, dims)
            const minConfidence = 0.05
            if (withBoxes) {
              faceapi.draw.drawDetections(canvas, resizedResult)
            }
            faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence)
            faceapi.draw.drawFaceLandmarks(canvas, resizedResult)
          }
  
        setTimeout(() => onPlay())
      }
  
      async function run() {
        // load face detection model
        await changeFaceDetector(TINY_FACE_DETECTOR)
        await faceapi.loadFaceLandmarkModel('/static/models')
        await faceapi.loadFaceExpressionModel('/static/models')
        changeInputSize(128)
  
        // try to access users webcam and stream the images
        // to the video element
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
        const videoEl = $('#inputVideo').get(0)
        videoEl.srcObject = stream
      }
  
      function updateResults() {}
  
      $(document).ready(function() {

        initFaceDetectionControls()
        run()
      })
    </script>
  </body>
  </html>